<% include header %>

<div class="aboutMe animation alldivs">
    <p>
           Hi, I'm Andrew, and I am very passionate about coding. I started learning and now I simply can't get enough of it. Building and styling
        websites, using different libraries and frameworks, interacting with databases and APIs (Application Program Interfaces), it's all so
        interesting to me.
    </p>
    <p>
            I've always used my free time to get better at my interests. With guitar, it was endless practice and studying music theory. For chess, it 
        was studying different openings and the different variations. I always feel like there's not enough hours in a day. Now coding has become my
        number one passion. I look forward to the weekends so that I have more time to learn/practice. 
    </p>
    <p>
            So if you want me to build a website, or make an application, please contact me and I will be more than happy to work with you.
    </p>
    <p> Thanks for visiting my website,</p>
    <p>-Andrew</p>
    
</div>

<% include footer %>