<% include header %>

  <div>
    <table align="center">
      <tr>
        <td id="center" colspan="2">Contact Information</td>
      </tr>
      <tr>
        <td>Name:</td>
        <td>Andrew Gaynor</td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td><a href="tel:513-512-0379">(513)512-0379</a></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>andrew.gaynor@ymail.com</td>
      </tr>
    </table>
  </div>
  
 <% include footer %>