<% include header %>
<div class="aboutMe animation alldivs">
    <p>
        I owe a lot of my experience to the completetion of Udemy's in-depth bootcamp, The Web Developer Bootcamp. It covered
        everything from HTML, CSS, and JavaScript on the frontend, to Node.js, Express, MongoDB, and Mongoose on the backend. I 
        was able to build websites and applications while incorperating libraries such as jQuery, Bootstrap, and Semantic UI. We 
        saw the power of APIs and the convenience of frameworks. Our final project was a dynamic website called YelpCamp. People 
        can make an account, submit pictures/descriptions of campgrounds, leave comments and edit comments, among other things. 
        This is where I got experience creating and interacting with a database, making schemas and data association, dealing with 
        RESTful routing, authentication, and embedded javascript. I am currently working on this page to add pictures, explanations,
        and links. Update coming soon!
    </p>
</div>
<% include footer %>