<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/port.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Portfolio</title>
  </head>
  <body>
    <ul class="navbar">
      <li id="icon"><a href="/"><i class="fas fa-desktop"></i></a></li>
      <li id="resume"><a href="/resume">resumé</a></li>
      <li><a href="/experience">experience</a></li>
      <li><a href="/contact">contact</a></li>
      <li id="about"><a href="/about">about me</a></li>
    </ul>
    