<% include header %>

  <div class="container">
    <div class="top">
      <p class="header">Web Development / </p>
      <p class="header header2"> Web Design</p>
    </div>
      <p id="name">-Andrew Gaynor</p>
  </div>

<% include footer %>