<% include header %>
    <div id="resback" class="alldivs">
        <h2 class="resumecolor">ANDREW GAYNOR</h2>
        <hr id="titlehr">
        <p id="centercontent"><span class="resheader">513 • 512 • 0379</span> <span class="resheader">andrew.gaynor@ymail.com</span></p>
        <h3 class="resumecolor">PROFILE</h3>
        <p>
            A highly motivated web developer who appreciates the intricacies of programming. Good work ethics
            and a great attitude. Enjoys problem solving and works well with others. Has an absolute eagerness 
            to learn on the job, and off.
        </p>
        <hr>
        <h3 class="resumecolor">SKILLS</h3>
        <p>
            HTML, CSS, JavaScript, React, Gatsby, Angular, TypeScript, jQuery, Bootstrap, Node.js, Express, MongoDB, Mongoose, MLab, Git, WordPress, Ajax, Axios, Firebase.
        </p>
        <hr>
        <h3 class="resumecolor">PERSONAL PROJECTS</h3>
        <p><b>MusicTalk</b></p>
        <p>A facebook clone built in React. Users can make posts about music and follow other users to see their posts. They can like posts and comment on posts.</p>
        <p>Tech: React, Redux, Node, Express, MySQL</p>
        <p>Demo Video: <a id="music-a" target="_blank" href="https://youtu.be/Ihcz1Y9K1qY">https://youtu.be/Ihcz1Y9K1qY</a></p>
        <p>Github: <a target="_blank" href="https://github.com/Andrew1451/MusicTalk">https://github.com/Andrew1451/MusicTalk</a></p>
        <p>App: <a target="_blank" href="https://music-talk.netlify.app">https://music-talk.netlify.app</a></p>
        <p><b>Post-A-Joke</b></p>
        <p>A twitter-like application. Users can make an account, post jokes, follow other users, and see their jokes. They can 
            search/filter through available users to add as a friend. I list the users’ friends, and their jokes, in chronological 
            order from when the joke was posted.</p>
        <p>Tech: Javascript, EJS, Node, Express, MongoDB (MLab)</p>
        <p>Demo Video: <a id="joke-a" target="_blank" href="https://youtu.be/K_szcCjuLew">https://youtu.be/K_szcCjuLew</a></p>
        <p>Github: <a target="_blank" href="https://github.com/Andrew1451/twitter-like-app">https://github.com/Andrew1451/twitter-like-app</a></p>
        <p>App: <a target="_blank" href="https://arcane-wildwood-75216.herokuapp.com">https://arcane-wildwood-75216.herokuapp.com/</a></p>
        <p><b>Fitness Tracker</b></p>
        <p>Users can make an account, save their exercises, then save their finished workout. I store the exercises in local storage 
            for persistence, then save the workout in Firebase. Users can delete workouts as well.</p>
            <p>Tech: React, Gatsby, Redux, Firebase’s realtime database</p>
            <p>Github: <a target="_blank" href="https://github.com/Andrew1451/Fitness-Tracker">https://github.com/Andrew1451/FitnessTracker</a></p>
            <p>App: <a target="_blank" href="https://brave-agnesi-61ea6b.netlify.app">https://brave-agnesi-61ea6b.netlify.app</a></p>
        <p><b>Giphy API Website</b></p>
        <p>A website using the Giphy API. You can search for gifs and it will return 25 results. Try it out - you know you want to.</p>
        <p>Website: <a target="_blank" href="https://pure-temple-38542.herokuapp.com/">https://pure-temple-38542.herokuapp.com/</a></p>
        <p><b>Kawasaki Website</b></p>
        <p>A great looking website I built from a design I found on Adobe XD.</p>
        <p>Github: <a target="_blank" href="https://github.com/Andrew1451/Kawasaki">https://github.com/Andrew1451/Kawasaki</a></p>
        <p>App: <a target="_blank" href="https://andrew1451.github.io/Kawasaki/views/pages/index">https://andrew1451.github.io/Kawasaki/views/pages/index</a></p>
        <p><b>Friend's Website</b></p>
        <p>Github: <a target="_blank" href="https://github.com/Andrew1451/chadwick">https://github.com/Andrew1451/chadwick</a></p>
        <p>Website: <a target="_blank" href="https://andrew1451.github.io/chadwick/">https://andrew1451.github.io/chadwick/</a></p>
        <p><b>My Website</b></p>
        <p>Github: <a target="_blank" href="https://github.com/Andrew1451/Portfolio">https://github.com/Andrew1451/Portfolio</a></p>
        <hr>
        <h3 class="resumecolor">TUTORIALS</h3>
        <p><a target="_blank" href="https://www.youtube.com/channel/UCD0JOhEl8HvPowpg8Ri3CvA">My YouTube Channel</a></p>
        <p><a target="_blank" href="https://dev.to/techcheck">My Blog Posts</a></p>
        <p><a target="_blank" href="https://www.instagram.com/techcheck__/">Instagram</a></p>
        <hr>
        <h3 class="resumecolor">UDEMY PROJECT</h3>
        <p><b>Burger Builder</b></p>
        <p>Github: <a target="_blank" href="https://github.com/Andrew1451/UdemyReactProject">https://github.com/Andrew1451/UdemyReactProject</a></p>
        <p>App: <a target="_blank" href="https://react-burger-builder-dc691.firebaseapp.com">https://react-burger-builder-dc691.firebaseapp.com</a></p>
        <hr>
        <h3 class="resumecolor">EDUCATION</h3>
        <p>2001 - 2005 Elder High School</p>
        <p>2006 - 2008 Cincinnati State - <i>Audio Video Production</i></p>
        <p>2018 - 2019 Udemy's <i>The Web Developer Bootcamp</i></p>
        <p>2019 - 2020 Udemy’s <i>React - The Complete Guide</i></p>
    </div>
<% include footer %>