<% include header %>
    <div id="resback" class="alldivs">
        <h2 class="resumecolor">ANDREW GAYNOR</h2>
        <hr id="titlehr">
        <p id="centercontent"><span class="resheader">513 • 512 • 0379</span> <span class="resheader">andrew.gaynor@ymail.com</span></p>
        <h3 class="resumecolor">PROFILE</h3>
        <p>
            A highly motivated web developer who appreciates the intricacies of programming. Good work ethics
            and a great attitude. Enjoys problem solving and works well with others. Has an absolute eagerness 
            to learn on the job, and off.
        </p>
        <hr>
        <h3 class="resumecolor">SKILLS</h3>
        <p>
            HTML, CSS, JavaScript, jQuery, Bootstrap, Node.js, Express, MongoDB, Mongoose, and MLab.
        </p>
        <hr>
        <h3 class="resumecolor">EDUCATION</h3>
        <p>2001 - 2005 Elder High School</p>
        <p>2006 - 2008 Cincinnati State - <i>Audio Video Production</i></p>
        <p>2017 - 2018 Udemy's <i>The Web Developer Bootcamp</i></p>
        <hr>
        <h3 class="resumecolor">WORK HISTORY</h3>
        <p><b>Core Metals Group</b> | <span class="jobtitle">Blending Operator</span> <i class="dates">2010 - present</i></p>
        <p>
            Mixing and packaging raw materials to make steel stronger. Provide coworkers with the material to work while 
            completing my own duties. Responsibilities include mixing, packaging, paperwork, loading trucks, proper 
            math, leadership, and teamwork.
        </p>
        <hr class="resumehr">
        <p><b>Sheet Metal Local 24</b> | <span class="jobtitle">Construction</span>  <i class="dates">2007 - 2010</i></p>
        <p>
            Putting together duct work in the shop and installing it in the field. Mostly industrial work. Worked for
            Peck Hannaford and Briggs, and Jacob's Manufacturing. Responsibilities included organization, teamwork, 
            and following blueprints.
        </p>
        <hr class="resumehr">
        <p><b>Masterpiece Creations</b> | <span class="jobtitle">Banquet Serving</span>  <i class="dates">2005 - 2007</i></p>
        <p>
            Set up banquet rooms for events at the Northern Kentucky Convention Center. Set tables, served and 
            cleared tables, put everything away upon completion. 
        </p>
        <hr class="resumehr">
        <p><b>Hillgrove Services</b> | <span class="jobtitle">Custodian</span>  <i class="dates">2003 - 2007</i></p>
        <p>
            Janitorial duties at Elder High School. Sweeped and mopped classrooms. Took out the trash. Made sure
            everything was locked up and secure.
        </p>
        <hr class="resumehr">
        <p><b>St. Xavier Church</b> | <span class="jobtitle">Secretary</span>  <i class="dates">2001 - 2003</i></p>
        <p>
            Took phone calls and scheduled meetings for staff. Locked everything and set the alarm at the end of the night.
        </p>
    </div>
<% include footer %>