html {
    min-height: 100%;
    width: 100%;
}

body {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    border-bottom: .5px solid white;
    width: 100%;
}

li {
    padding: 1% 0;
    margin-top: 6px;
}

li a {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: white;
}

li a:hover {
    text-decoration: underline;
}

#icon {
    position: relative;
    top: -4px;
}

.fa-desktop {
    margin-top: 3.5px;
    font-size: 15px;
}

.fa-desktop:hover {
    color: lime;
}

.experience1 {
    background-color: black;
    width: 70%;
    padding: 13% 15%;
}

.experience1 p {
    font-family: Times;
    font-size: 17px;
    text-align: center;
    line-height: 1.4em;
    margin: 0;
    color: white;
}

#experienceborder {
    border: 1px solid black;
    padding: 2% 2%;
    background-color: black;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.fit {
    box-sizing: border-box;
    border: 1px solid #00ff0052;
}

.images {
    width: 48.7%;
    height: 438px;
    float: left;
    margin: .1% .1%;
}

.leftimages {
    margin-left: 1%;
}

.description {
    background-color: black;
    width: 29.85%;
    height: 200px;
    color: white;
    float: left;
    padding: 10% 10%;
    text-align: center;
    margin: .1px;
}

#greentext {
    color: lime;
}

.lime-font {
    color: lime;
}

#bluetext {
    color: #78baf0;
}

#skybluetext {
    color: aqua;
}

#experienceborder {
    color: lime;
}

.summary {
    float: left;
    height: 438px;
    max-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 42px;
}

.summary p {
    width: 69%;
    text-align: center;
    margin-bottom: 0;
}



@media only screen and (min-width: 1700px) {
    .experience {
      width: 70%;
      margin: 0 auto;
      padding: 10% 10%;
    }
    .experience p {
      font-size: 21px;
    }
    .images {
      height: 600px;
    }
    .description {
      font-size: 20px;
      padding: 0 10%;
      padding-top: 9%;
      padding-bottom: 15%;
    }
}
  
@media only screen and (min-width: 1495px) and (max-width: 1699px) {
    .images {
        height: 500px;
        margin: .1% .1%;
    }
    .description {
        padding-bottom: 11%
    }
    .leftimages {
        margin-left: 1%;
    }
}
  
@media only screen and (max-width: 1220px) {
    .images {
        width: 70%;
        margin: 1% auto;
        float: none;
        display: block;
    }
    .description {
        float: none;
        margin: 1% auto;
        padding: 10% 2%;
        height: auto;
        width: 70%;
    }
    #battleship {
        border: 1px solid lime;
    }
}

@media only screen and (min-width: 1220px) {
    .summary {
        width: 57%;
        position: relative;
        left: 21%;
    }
}
  
@media only screen and (max-width: 720px) {
    .images {
        width: 90%;
    }
    .experience p {
        font-size: 17px;
    }
}

@media only screen and (min-width: 900px) {
    #experienceborder {
        border: 1px solid white;
    }
    .experience1 p {
        font-size: 20px;
        line-height: 1.5em;
    }
}

@media only screen and (max-width: 500px) {
    .images {
        height: 300px;
    }
    .experience p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 375px) {
    .images {
        height: 250px;
    }
}